{% extends 'base.html.twig' %}

{% block title %}User info{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes() %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <h1>{{ user.nickname }}</h1>

    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">Name</dt>
        <dd class="col-sm-9 vert-center">{{ user.firstname }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Surname</dt>
        <dd class="col-sm-9 vert-center">{{ user.surname }}</dd>
    </dl>


    <hr>
    <h3>Contacts</h3>
    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">E-mail</dt>
        <dd class="col-sm-9 vert-center">{{ user.email }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Telephone number</dt>
        <dd class="col-sm-9 vert-center">{{ user.phoneNumber }}</dd>
    </dl>

{# <div name="user-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div> #}
    
{% endblock %}
