{% extends 'base.html.twig' %}

{% block title %}User info{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>{{ user.nickname }}'s user profile</h1>

    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">Name</dt>
        <dd class="col-sm-9 vert-center">{{ user.firstname }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Surname</dt>
        <dd class="col-sm-9 vert-center">{{ user.surname }}</dd>
    </dl>


    <hr>
    <h3>Contacts</h3>
    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">E-mail</dt>
        <dd class="col-sm-9 vert-center">{{ user.email }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Telephone number</dt>
        <dd class="col-sm-9 vert-center">{{ user.phoneNumber }}</dd>
    </dl>

    {% if canEdit and not deactivated %}
        <a href="{{ path('user_edit', { 'id': id }) }}" class="btn btn-primary">Edit informations</a>
        <a href="{{ path('user_change_pwd', { 'id': id }) }}" class="btn btn-primary">Change password</a>
    {% endif %}
    {% if deactivated %}
        <h2 style="font-size:30px;color:red;">DEACTIVATED</h2>
    {% endif %}

    <br></br>

    <hr>
    <h3>Statistics</h3>
    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">Attended tournaments:</dt>
        <dd class="col-sm-9 vert-center">{{ userStatistics.tournamentCount }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Won tournaments:</dt>
        <dd class="col-sm-9 vert-center">{{ userStatistics.wonTournaments }}</dd>
    </d>

{# <div name="user-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div> #}
    
{% endblock %}
