{% extends 'base.html.twig' %}

{% block title %}Create team{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>Create team</h1>

    {{ form_start(teamForm) }}
        {{ form_row(teamForm.name) }}
        {{ form_row(teamForm.image) }}
        {{ form_row(teamForm.submit, {
            label: 'Submit'
        }) }}
    {{ form_end(teamForm) }}
{% endblock %}
