{% extends 'base.html.twig' %}

{% block title %}Team info{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <div class="row">
        <div class="col-md-6">
            <h1>Team detail</h1>
            <h3>Team name: {{ team.name }}</h3>

            {% if deactivated %}
                <h2 style="font-size:30px;color:red;">DEACTIVATED</h2>
            {% elseif canModify %}
                <a href="{{ path('team_edit', { 'id': id }) }}" class="btn btn-primary">Edit team informations</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Team image</h3>
            <div class="mb-3">
                <img src="{{ asset('uploads/teams/images/' ~ team.imagePath) }}" alt="Team image" class="img-thumbnail col-sm-8 col-lg-7 col-xl-6">
            </div>
        </div>
    </div>

    <br></br>

    <h1>Members</h1>

    {% if canModify and not deactivated %}
        <h3>Add member</h3>

        {{ form_start(membersForm) }}
            {{ form_row(membersForm.members) }}
            {{ form_row(membersForm.submit) }}
        {{ form_end(membersForm) }}
    {% endif %}

    {{ table_render(table) }}

    <h3>Statistics</h3>
    <dl class="row">
        <dt class="col-sm-3 h5 vert-center">Attended tournaments:</dt>
        <dd class="col-sm-9 vert-center">{{ statistics.tournamentCount }}</dd>

        <div class="padding"></div>
        <dt class="col-sm-3 h5 vert-center">Won tournaments:</dt>
        <dd class="col-sm-9 vert-center">{{ statistics.wonTournaments }}</dd>
    </d>    

{% endblock %}
