{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('tournament_form') }}
{% endblock %}

{% block title %}Create tournament{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>Create tournament</h1>

    {{ form_start(tournamentForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(tournamentForm.name) }}
                {{ form_row(tournamentForm.description) }}
                {{ form_row(tournamentForm.tournamentTypeModel) }}
                {{ form_row(tournamentForm.participantType) }}
                {{ form_row(tournamentForm.minTeamMemberCount) }}
                {{ form_row(tournamentForm.maxTeamMemberCount) }}
                {{ form_row(tournamentForm.minParticipantCount) }}
                {{ form_row(tournamentForm.maxParticipantCount) }}
            </div>
            <div class="col-md-6">
                {{ form_row(tournamentForm.date) }}
                {{ form_row(tournamentForm.prize) }}
                {{ form_row(tournamentForm.venue) }}
                {{ form_row(tournamentForm.registrationDateStart) }}
                {{ form_row(tournamentForm.registrationDateEnd) }}
                {{ form_row(tournamentForm.winCondition) }}
                {{ form_row(tournamentForm.matchingType) }}
            </div>
        </div>
        <div class="text-center">
            {{ form_row(tournamentForm.submit, {
            label: 'Submit'
            }) }}
        </div>
    {{ form_end(tournamentForm) }}
{% endblock %}
