{% extends 'base.html.twig' %}

{% block title %}Tournament info{% endblock %}

{% block body %}
    {{ render_flash_messages() }}

    <h1>{{ tournament.name }}</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-3 h5 vert-center">Created By</dt>
                <dd class="col-sm-9 vert-center"><a href="{{ path(routName, params) }}">{{ tournament.createdByNickName }}</a></dd>
            </dl>

            <hr>

            <h3>Description</h3>
            
            <pre>{{ tournament.description }}</pre>
            

            <hr>
            <h3>Informations</h3>

            <dl class="row">

                <dt class="col-sm-5 h5 vert-center">Participant Type</dt>
                <dd class="col-sm-7 vert-center">{{ participantType }}</dd>

                {% if participantIsTeam %}

                    <div class="padding"></div>
                    <dt class="col-sm-5 h5 vert-center">Maximum Members in a Team</dt>
                    <dd class="col-sm-7 info vert-center">{{ tournament.maxTeamMemberCount }}</dd>

                    <div class="padding"></div>
                    <dt class="col-sm-5 h5 vert-center">Minimum Members in a Team</dt>
                    <dd class="col-sm-7 vert-center">{{ tournament.minTeamMemberCount }}</dd>

                {% endif %}

                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Maximum of Participants in This Tournament</dt>
                <dd class="col-sm-7 vert-center">{{ tournament.maxParticipantCount }}</dd>

                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Minimum of Participants in This Tournament</dt>
                <dd class="col-sm-7 vert-center">{{ tournament.minParticipantCount }}</dd>

                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Date</dt>
                <dd class="col-sm-7 vert-center">{{ date }}</dd>


                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Prize</dt>
                <dd class="col-sm-7 vert-center">{{ tournament.prize }}</dd>


                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Venue</dt>
                <dd class="col-sm-7 vert-center">{{ tournament.venue }}</dd>


                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Registration Date Start</dt>
                <dd class="col-sm-7 vert-center">{{ registrationDateStart }}</dd>

                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Registration Date End</dt>
                <dd class="col-sm-7 vert-center">{{ registrationDateEnd }}</dd>


                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Win Condition</dt>
                <dd class="col-sm-7 vert-center">{{ winCondition }}</dd>


                <div class="padding"></div>
                <dt class="col-sm-5 h5 vert-center">Matching Type</dt>
                <dd class="col-sm-7 vert-center">{{ matchingType }}</dd>
            </dl>
        </div>

        
        <div class="col-md-6">
            {% if (registrationEnded) %}
                <hr>
                <h3>Matches</h3>

                {% if not matchesGenerated %}
                    {{ form_start(matchForm) }}
                        {{ form_row(matchForm.duration) }}
                    {{ form_end(matchForm) }}
                {% else %}
                    <a href="{{ path('matches', redirectParam) }}" type="button" class="btn btn-primary">Matches info</a>
                {% endif %}
            {% endif %}


            {% if (showRegistrate) %}
                <hr>
                <h3>Register</h3>
                
                {% if not isRegistered %}
                    {% if participantIsTeam %}
                        {{ form_start(form) }}
                            {{ form_row(form.teams) }}
                        {{ form_end(form) }}
                    {% else %}
                        <p>Register yourself</p>
                        <a href="{{ path('tournament_register', redirectParam) }}" type="button" class="btn btn-success">Register</a>
                    {% endif %}
                {% else %}
                    <p>You are registered as <a href="{{ path(participantIsTeam ? 'team_info' : 'user_info', {'id': participantId ?? 0}) }}">{{ participantName }}</a></p>
                    <a href="{{ path('tournament_unregister', redirectParam) }}" type="button" class="btn btn-danger {% if canUnregister %}" {% else %} disabled" aria-disabled="true" {% endif %}>Unregister</a>
                {% endif %}
            {% endif %}

            <hr>
            <h3>Participants</h3>

            <div name="participant-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div>
        </div>
    </div>

{# <div name="user-table" data-settings='{{ datatable_settings(datatable) }}'>Loading...</div> #}
    
{% endblock %}
