{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {{ render_flash_messages() }}
    
    <h1>Login</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.send, {
            label: 'Login'
        }) }}
    {{ form_end(form) }}
{% endblock %}
